<a href="https://colab.research.google.com/github/ayushi-2310/AirQualityIndex/blob/main/AQI.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**AIR QUALITY INDEX OF INDIA**

mini project:

objective

describe

shape

tail

head

example: age range (min,max)

missing values

frequency(boolean masking)

In [ ]:
import numpy as np
import pandas as pd

In [7]:
df=pd.read_csv('/content/Air_Quality.csv')
df

        id country           state  ... pollutant_min pollutant_max pollutant_avg
0        1   India  Andhra_Pradesh  ...          69.0         109.0          86.0
1        2   India  Andhra_Pradesh  ...          82.0         138.0         105.0
2        3   India  Andhra_Pradesh  ...          10.0          42.0          19.0
3        4   India  Andhra_Pradesh  ...           4.0           5.0           4.0
4        5   India  Andhra_Pradesh  ...          16.0          42.0          27.0
...    ...     ...             ...  ...           ...           ...           ...
1831  1832   India     West_Bengal  ...          10.0          22.0          15.0
1832  1833   India     West_Bengal  ...           1.0           3.0           2.0
1833  1834   India     West_Bengal  ...           6.0          28.0          10.0
1834  1835   India     West_Bengal  ...          34.0          92.0          41.0
1835  1836   India     West_Bengal  ...          10.0         116.0          43.0

[1836 rows x 10 columns]

In [8]:
df.axes[1]

Index(['id', 'country', 'state', 'city', 'station', 'pollutant_id',
       'last_update', 'pollutant_min', 'pollutant_max', 'pollutant_avg'],
      dtype='object')

In [10]:
df.shape

(1836, 10)

In [11]:
df.head()

   id country           state  ... pollutant_min pollutant_max pollutant_avg
0   1   India  Andhra_Pradesh  ...          69.0         109.0          86.0
1   2   India  Andhra_Pradesh  ...          82.0         138.0         105.0
2   3   India  Andhra_Pradesh  ...          10.0          42.0          19.0
3   4   India  Andhra_Pradesh  ...           4.0           5.0           4.0
4   5   India  Andhra_Pradesh  ...          16.0          42.0          27.0

[5 rows x 10 columns]

In [12]:
df.tail()

        id country        state  ... pollutant_min pollutant_max pollutant_avg
1831  1832   India  West_Bengal  ...          10.0          22.0          15.0
1832  1833   India  West_Bengal  ...           1.0           3.0           2.0
1833  1834   India  West_Bengal  ...           6.0          28.0          10.0
1834  1835   India  West_Bengal  ...          34.0          92.0          41.0
1835  1836   India  West_Bengal  ...          10.0         116.0          43.0

[5 rows x 10 columns]

In [14]:
df.rank

<bound method NDFrame.rank of         id country           state  ... pollutant_min pollutant_max pollutant_avg
0        1   India  Andhra_Pradesh  ...          69.0         109.0          86.0
1        2   India  Andhra_Pradesh  ...          82.0         138.0         105.0
2        3   India  Andhra_Pradesh  ...          10.0          42.0          19.0
3        4   India  Andhra_Pradesh  ...           4.0           5.0           4.0
4        5   India  Andhra_Pradesh  ...          16.0          42.0          27.0
...    ...     ...             ...  ...           ...           ...           ...
1831  1832   India     West_Bengal  ...          10.0          22.0          15.0
1832  1833   India     West_Bengal  ...           1.0           3.0           2.0
1833  1834   India     West_Bengal  ...           6.0          28.0          10.0
1834  1835   India     West_Bengal  ...          34.0          92.0          41.0
1835  1836   India     West_Bengal  ...          10.0         116.0          43.0

[1836 rows x 10 columns]>

In [16]:
df.iloc[1:5]

   id country           state  ... pollutant_min pollutant_max pollutant_avg
1   2   India  Andhra_Pradesh  ...          82.0         138.0         105.0
2   3   India  Andhra_Pradesh  ...          10.0          42.0          19.0
3   4   India  Andhra_Pradesh  ...           4.0           5.0           4.0
4   5   India  Andhra_Pradesh  ...          16.0          42.0          27.0

[4 rows x 10 columns]